<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% load static %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'Home/style.css' %}" >

  <!-- Vendor CSS Files -->

  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap-icons/bootstrap-icons.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/boxicons/css/boxicons.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/glightbox/css/glightbox.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/swiper/swiper-bundle.min.cs' %}" >



</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a>Noob<span>ML</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'inference_view' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'logout_view' %}">Logout</a></li>
          <li><a class="nav-link scrollto" href="#call-to-action">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">
  <!-- ======= Services Section ======= -->
    <section id="services" class="dash">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2 style="text-align: center;">Welcome</h2>
          <h5>Hope you have your dataset ready.</h5>
          <h5> Before we begin, please note due to the intricate nature of ML and its elaborate options, the developement team has decided to limit the scope of dataset to csv file format only. Please include your train and test data in the form of '.csv' and ensure the data has the correct column names.</h5>
          <br>
          <br>

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h4 class="title"><a href="{% url 'project_view' %}" style="color:#50d8af; ">Start Project</a></h4>
            </div>
          </div>


        </div>


      </div>
    </section><!-- End Services Section -->

      <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Contact</h3>
            <p class="cta-text"> The developing team works on maintaining and updating the webapp as necessary. For any queries or suggestions please mail the developer team at ajishrat97@gmail.com. </p>
          </div>


        </div>
      </div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </section><!-- End Call To Action Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

    </div>
  </footer><!-- End Footer -->

</body>

</html>