<!doctype html>
<html lang="en">
  <head>
  	<title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'Home/index.css' %}">

        <script  type="text/javascript" src="{% static 'Home/js/jquery.min.js' %}"></script>
        <script  type="text/javascript" src="{% static 'Home/js/popper.js' %}"></script>
        <script  type="text/javascript" src="{% static 'Home/js/bootstrap.min.js' %}"></script>
        <script  type="text/javascript" src="{% static 'Home/js/main.js' %}"></script>
  </head>

  <body>
      <h1 class="title"> Welcome to NoobML</h1>

<div class="wrap">
     <a href="{% url 'login_view' %}">  <button class="button"> Login </button></a>
     <a  href="{% url 'register_view' %}">  <button class="button"> Sign Up </button></a>
</div>

  </body>

</html>