<!doctype html>
<html lang="en">
  <head>
   <title>Inference</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% load static %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'Home/style.css' %}" >

  <!-- Vendor CSS Files -->

  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap-icons/bootstrap-icons.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/boxicons/css/boxicons.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/glightbox/css/glightbox.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/swiper/swiper-bundle.min.cs' %}" >

  </head>

  <body>
	 <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a>Noob<span>ML</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'inference_view' %}">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'logout_view' %}">Logout</a></li>
          <li><a class="nav-link scrollto" href="#call-to-action">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

     <main id="main">
          <section id="services" >

          <h2 style="text-align: center; color: #0c2e8a;"> Lets train your data and make predictions</h2>

    <section style="padding-left: 100px" >
          {% if project %}
            {% for projects in project %}
        <h6> <strong>Project Name: &ensp; &ensp;&ensp; </strong> {{ projects.Name }}</h6>
        <h6> <strong>Project Category: &ensp;&ensp;&ensp; </strong> {{ projects.Learning }}</h6>
        <h6> <strong>Data Type: &ensp;&ensp;&ensp;&ensp;  </strong> {{ projects.Type }}</h6>

        <br> <br>
                <a href="{% url 'RunModel_view' projects.Name %}"><button style="background-color: #0c2e8a;color: white"> Train!</button></a>

                {% empty %}
                <tr>
                    <td>Nothing to show</td>
                </tr>
            {% endfor %}
          {% endif %}
    </section>
          </section>
    <br><br><br>
     <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Contact</h3>
            <p class="cta-text"> The developing team works on maintaining and updating the webapp as necessary. For any queries or suggestions please mail the developer team at ajishrat97@gmail.com. </p>
          </div>


        </div>
      </div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </section><!-- End Call To Action Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

    </div>
  </footer><!-- End Footer -->


   </body>

</html>