<!DOCTYPE html>
<html lang="en">
<head>
   <title>Login</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% load static %}
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
    <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'Home/style.css' %}" >

  <!-- Vendor CSS Files -->

  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/bootstrap-icons/bootstrap-icons.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/boxicons/css/boxicons.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/glightbox/css/glightbox.min.css' %}"  >
  <link rel="stylesheet"  href="{% static 'Home/vendor/swiper/swiper-bundle.min.cs' %}" >

</head>
<body>

 <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a>Noob<span>ML</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" >About</a></li>
          <li><a class="nav-link scrollto" href="#call-to-action">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!------------------------main body--------------------------->
    <div class="wrapper">
        <div class="container" style="text-align: center; padding: 0px 0px 40px 0px; width: 50%; background-color: rgba(80, 216, 175, 0.2);">
            <h1 style="padding-top: 60px; color: #0c2e8a;"> <strong>Login page </strong></h1>
            <br> <br> <br>
         {% if error_message %}
                <span style="color:red"><p>{{ error_message }}</p></span>
             {% endif %}


             <form action="{% url 'login_view' %}" method="post" class="form" >
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <span style="color:red">{{ field.errors }}</span>
                            {{ field.label_tag }} {{ field }}
                            <br><br>
                        {% endfor %}
                        <input type="submit" value="Submit" class="button" style="background-color: #0c2e8a;color: white">
             </form>

             <br>

             <h6>Don't have an account?<a href="{% url 'register_view' %}">Register</a> here! </h6>

          </div>
    </div>

     <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Contact</h3>
            <p class="cta-text"> The developing team works on maintaining and updating the webapp as necessary. For any queries or suggestions please mail the developer team at ajishrat97@gmail.com. </p>
          </div>


        </div>
      </div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </section><!-- End Call To Action Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

    </div>
  </footer><!-- End Footer -->

</body>
</html>