html, body {
  height: 100%;
}

.wrap {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a:link {
  text-decoration: none;
}
.button {
  min-width: 250px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 600;
  color: #313133;
  background: #ffc107;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 20px;
  margin: 80PX;
  }


/*------title-------*/
.title {

  padding-top: 60px;
  text-align: center;
  letter-spacing: 6px;
  color: #d39e00 ;


}